@use "sass:list";

@function sum($a: 0, $b: 0) {
  @if type-of($a) != number {
    @error "First number is not a number";
  }
  @if type-of($b) != number {
    @error "Second number is not a number";
  }

  @return $a + $b;
}

@debug 'sum(1, 2)';
@debug sum(1, 2);

@debug 'sum(1)';
@debug sum(1);

@function sum2($numbers...) {
  $sum: 0;
  @for $i from 1 through list.length($numbers) {
    $value: list.nth($numbers, $i);
    @if type-of($value) != number {
      @error "The " + $i + "th element: '"+ $value + "' is not a number!";
    }
    $sum: $sum + $value;
  }

  @return $sum;
}

@debug 'sum2(2)';
@debug sum2(2, 3, 5, 6, 6353);