@use "sass:list";

@function sum($a: 0, $b: 0) {
  @if type-of($a) != number {
    @error "First number is not a number";
  }
  @if type-of($b) != number {
    @error "Second number is not a number";
  }

  @return $a + $b;
}

@debug 'sum(1, 2)';
@debug sum(1, 2);

@debug 'sum(1)';
@debug sum(1);

@function sum2($numbers...) {
  $sum: 0;
  @for $i from 1 through list.length($numbers) {
    $value: list.nth($numbers, $i);
    @if type-of($value) != number {
      @error "The " + $i + "th element: '"+ $value + "' is not a number!";
    }
    $sum: $sum + $value;
  }

  @return $sum;
}

@debug 'sum2(1, 1, 2, 3, 5)';
@debug sum2(1, 1, 2, 3, 5);

@function splice($list, $start, $count: 1) {
  $length: list.length($list);

  @if ($length < $start) {
    @error "Element not exists!";
  }

  $new-list: ();
  $end: $start + $count;
  @for $i from 1 through $length {
    @if ($start > $i or $i >= $end) {
      $new-list: list.append($new-list, list.nth($list, $i));
    }
  }

  @return $new-list;
}

$list: 2, 3, 4, 5;

@debug 'splice($list, 2, 2)';
@debug splice($list, 2, 2);