$colors: (
        base: (
                'black': #222,
                'white': #efefef
        ),
        theme: (
                colorful: (
                        'green': #23f0c7ff,
                        'coral': #ef767aff,
                        'purple': #7d7abcff,
                        'liberty': #6457a6ff,
                        'yellow': #ffe347ff
                ),
                monochrome: (
                        'black': #0a0908ff,
                        'gunmetal': #22333bff,
                        'cultured': #f2f4f3ff,
                        'grullo': #a9927dff,
                        'umber': #5e503fff
                )
        ),
        lights: (
                dark: -20%,
                medium-dark: -10%,
                normal: 0%,
                medium-light: 10%,
                light: 20%
        )
);